/*
=> Adjacent Sibling Selector
-> It selects all the elements that are adjacent siblings of specified elements.
-> It selects the second element if it immediately follows the first element.

=> Syntax: X + Y = It selects the Y tag
*/

div.adjacent-sibling-selector h2+a {
  color: green;
}

/*
=> :nth-of-type(n) Selector
-> Mathces every element that is the nth child, of a particular type, of its parent.
-> n can be a number, a keyword, or a formula.

=> Syntax: X:nth-of-type(n)
*/

/* Every ul that its position is an even number */

div.nth-of-type-selector ul:nth-of-type(even) {
  font-style: italic;
}

/* Every ul that its position is an odd number */

div.nth-of-type-selector ul:nth-of-type(odd) {
  font-weight: 900;
}

/* Only the ul that is on the position 3 */

div.nth-of-type-selector ul:nth-of-type(3) {
  background: yellow;
}

/* Every ul that is multiply of 2 */

div.nth-of-type-selector ul:nth-of-type(2n+0) {
  text-decoration: underline;
}

/*
=> Direct Child Selector
-> It selects any element matching the second element that is
   a direct child of an element matching the first element.
-> The element matched by the second selector must be the immediate
   children of the elements matched by the first selector.
  
=> Syntax: X > Y
*/

div.direct-child-selector div>span {
  background: yellow;
}

div.general-sibling-selector p~span {
  color: red;
}

/*
=> Decendant Selector
-> It makes changes only to those elements
   which are inside the other element.

=> Syntax: X Y Z {}
*/

div.decendant-selector ul li a {
  color: red;
}

/* 
=> Attribute Selector
-> It selects all the elements that matchs a specific attribute

=> Syntax: X[attr="value"] = Only X tag that the attribute attr has the value "value"
=> Syntax: X[attr^="value"] = Only X tag that the attribute attr has the value starting with "value"
=> Syntax: X[attr$="value"] = Only X tag that the attribute attr has the value ending with "value"
=> Syntax: X[attr*="value"] = Only X tag that the attribute attr has the value including "value"
*/

div.attr-selector a[href="http://www.google.com"] {
  background: yellow;
}

div.attr-selector span[class^=first] {
  color: green;
}

div.attr-selector span[class$=-span] {
  text-decoration: line-through;
}

div.attr-selector span[class*=spa] {
  background: rgba(255, 255, 255, 0.288);
}

div.attr-selector span[class~=special-span] {
  color: red;
}

/* WebSite Zero To Hero */

body {
  background: rgb(130, 202, 250, 0.4);
}

#title {
  color: steelblue;
}

.subtitle {
  color: rgb(95, 95, 95);
}

#service-image {
  height: 350px;
  width: 100vw;
  background: radial-gradient(circle, blue 20%, yellow 20% 40%, green 40%);
}

/* Text Manipulation */
#text-manipulation {
  text-decoration: underline;
  text-transform: uppercase;
}

#title {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

#container {
  width: 50vw;
  border: 1px solid red;
  text-align: center;
}